.booking-form input{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    
    

}

.booking-form label{
    color: rgb(2, 2, 54);
    font-weight: bold;
    padding: 0px 10px;
    font-size: 18px;
    

}
