.package-form{
    width: 50%;
}


@media only screen and (max-width:992px) {
    .package-form{
        width: 65%;
    }
    
}

@media only screen and (max-width:668px) {
    .package-form{
        width: 80%;
    }
}



.package-form input,textarea{
    margin-bottom: 10px;
    border-radius: 5px;
}

.package-form input{

    color: rgb(3, 3, 66);
    font-weight: bold;
}

