.about-text{
    font-size: 3vw;
    
}

@media only screen and (max-width:992px ) {
    .about-text{
        font-size: 4vw;
        
    } 
    
}

@media only screen and (max-width:668px ) {
    .about-text{
        font-size: 5vw;
        margin-top: 10px;

        
    } 
    
}