.carousel-bg{
    background-color: aliceblue;

}
.carousel-indicators [data-bs-target] {
    background-color: rgb(67, 5, 167) ;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0.425);
}


@media only screen and (max-width:767px){
    .caro-text{
        font-size: 2vw;
        text-align: justify;
        margin-left: 5px;

    }

    .small-screen{
        height: 200px;
    }
    .carousel-indicators [data-bs-target] {
        display: none;
        /* background-color: rgb(247, 247, 247) ; */
    }

}
@media only screen and (max-width:662px){
    .caro-text{  
        font-size: 3vw;
        text-align: justify;
        margin-left: 5px;


    }

}
